*{
	/* Universal reset: */
	margin:0;
	padding:0;
}
header,footer,
article,section,
hgroup,nav,
figure {
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	font-family:Arial, Helvetica, sans-serif;
	padding: .345em;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1em;
}
nav{
	padding:0 5px;
	background-color: #fff;
	font-size: 1.456em;
}
nav li {
  display: inline;
}
nav li a {
	border:1px solid #aaa;
	background-color: #eee;
	padding: .25em;
	text-decoration: none;
	border-radius: .25em;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
}
article {
	float: left;
  width: 375px;
	font-size: 1.235em;
}
ul {
  padding: .65em 0;
  list-style-type: none;
}
ul .title {
	padding: .534em 0;
}
article div {
	padding: 1em;
}
.article1 ul:nth-child(even) {background: #EEE}
.created_at, .closed_at {
  font-size: .726em;
	color: #999;
}
.pull_request {
	color: #555;
	/* hot #FF704F */
	/* fresh #FFD266 */
	/* cool #B2D0DD */
	/* stale #D0D0D0 */
	background-color: #FFD266;
	padding: .165em;
	font-size: .8em;
}
#placeholder {
	width:400px;
	height:150px;
	background-color: #234;
}
