

<article id="article1" class="issues">
	<div class="articleBody">
	<header>
	<h2>Opened {stats.opened_count} issues, {stats.opened_points} points</h2>
	</header>
	{?opened}
		{#opened}
		<ul>
		<li class="html_url"><a href="{value.doc.html_url}">{id}</a> 
		<span class="difficulty">({value.difficulty})</span>
		{?value.doc.is_pull_request}<span class="pull_request">
			pull request
		</span>{/value.doc.is_pull_request}
		</li>
		<li class="title">{value.doc.title}</li>
		<li class="created_at">Created <time>{value.doc.created_at}</time></li>
		</ul>
		{/opened}
		{:else}
		<p>No opened issues.</p>
	{/opened}
	</div>
</article>


<article id="article2" class="issues">
	<div class="articleBody">
	<header>
	<h2>Closed {stats.closed_count} issues, {stats.closed_points} points</h2>
	</header>
	{?closed}
		{#closed}
		<ul>
		<li class="html_url"><a href="{value.doc.html_url}">{id}</a> 
		<span class="difficulty">({value.difficulty})</span>
		{?value.doc.is_pull_request}<span class="pull_request">
			pull request
		</span>{/value.doc.is_pull_request}
		</li>
		<li class="title">{value.doc.title}</li>
		<li class="closed_at">Closed <time>{value.doc.closed_at}</time></li>
		<li class="created_at">Created <time>{value.doc.created_at}</time></li>
		</ul>
		{/closed}
		{:else}
		<p>No closed issues.</p>
		{/closed}
	</div>
</article>

<article id="article3" class="issues">
	<div class="articleBody">
	<header>
	<h3>Start time: <time>{stats.endkey}</time></h3>
	<h3>End time: <time>{stats.startkey}</time></h3>
	</header>
	</div>
</article>

